body{
    background: rgba(218, 218, 218, 0.82);
}

.navbar{
    margin: 0px;
    padding: 50px;
    background: linear-gradient(to top, #f8b7a2, #ff8865, #ff724b, #ff6037);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.imagecontainer {
    width: auto;
    position: absolute;
    top: 2%;
    right: 70%;
}
.imageNaarAgenda{
    background-color: white;
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    border-color: black;
    border-radius: 20px;
}

.imageNaarAgenda:hover{
    border: 8px solid #ffc107;
}

.imagecontainer2 {
    width: auto;
    position: absolute;
    top: 2%;
    right: 8%;
}
.imagelogout{
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    border-color: black;
    border-radius: 20px;
}

.imagelogout:hover{
    border: 8px solid #ffc107;
}
.imagecontainer3 {
    width: auto;
    position: absolute;
    top: 2%;
    right: 62%;
}
.imageNieuweKlant{
    background-color: white;
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    border-color: black;
    border-radius: 20px;
}
.imageNieuweKlant:hover{
    border: 8px solid #ffc107;
}

.wrapper-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 320px);
    justify-content: center;
    grid-gap: 2rem;
    margin: 2rem;
}




.klant-container{
    height: 320px;
    width: 100%;
    box-shadow: 0px 2px 8px 0px gray;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    background-color: white;
}
.bannerimage{
    position: relative;
    background-image:url("https://www.kunstwaard.nl/fileadmin/Doove_gat.jpg");
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-img{
    width: 15rem;
    clip-path: circle(70px at center);
    margin-top:4.5rem;
}

.klantennaam{
    position: static;
    font-size: 1.5rem;
}

.klantenbutton{
    position: relative;
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #ffc107;
    padding: 1rem;
}
.klantenbutton:hover{
    background-color: #ffd6a1;
    color: black;
}
.nieuweklant-container{
    height: 320px;
    width: 100%;
    box-shadow: 0px 2px 8px 0px gray;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    background-color: white;
}
.bannerimage2{
    position: relative;
    background-image:url("https://pbs.twimg.com/media/FP6frjUXwAs3zJ1?format=jpg&name=large");
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nieuweklantenbutton{
    position: relative;
    height: 200px;
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #7ec700;
    padding: 1rem;
    text-align: center;
}
.nieuweklantenbutton:hover{
    background-color: #a1ff7d;
    color: black;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 500px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password], .form-container input[type=tel], .form-container input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
.detail-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container2 {
    max-width: 500px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container2 h2{
    font-family: Calibri;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container2 input[type=text]:focus, .form-container2 input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container2 .btn {
    background-color: #000000;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container2 .cancel {
    background-color: red;
}
/* Add some hover effects to buttons */
.form-container2 .btn:hover, .open-button:hover {
    opacity: 1;
}